<%- include('template/cabecera', {tituloWeb: "Detalle"})%>
<div class="container">
  <h1>Detalles de la ciudad</h1>
  <% if (error) { %> <%= mensaje %>
  <a href="/" class="btn btn-dark btn-block my-2"> Volver</a>
  <% } %> <% if (!error) { %>
    <form id="editar" data-id="<%= ciudad._id %>" class="my-2" method="POST">
      <h4>ID:</h4>
      <input type="number" placeholder="<%= ciudad.id %>" class="form-control my-2" name="id" >
      <h4>Nombre:</h4>
      <input
        type="text"
        placeholder="<%= ciudad.nombre %>"
        class="form-control my-2"
        name="nombre"
      />
      <h4>Población:</h4>
      <input
        type="number"
        placeholder="<%= ciudad.poblacion %>"
        class="form-control my-2"
        name="poblacion"
      />
      <h4>País:</h4>
      <input
        type="text"
        placeholder="<%= ciudad.pais %>"
        class="form-control my-2"
        name="pais"
      />
      <h4>Continente:</h4>
      <select class="form-select" aria-label="Default select example" name="continente">
        <option value="none" selected disabled>Continente</option>
        <option value="Asia">ASIA</option>
        <option value="América">AMÉRICA</option>
        <option value="África">ÁFRICA</option>
        <option value="Antártida">ANTÁRTIDA</option>
        <option value="Europa">EUROPA</option>
        <option value="Oceanía">OCEANÍA</option>
      </select>
      <h4>Gentilicio:</h4>
      <input
        type="text"
        placeholder="<%= ciudad.gentilicio %>"
        class="form-control my-2"
        name="gentilicio"
      />
      <button type="submit" class="btn btn-success btn-sm" type="submit">Actualizar</button>
    </form>
  <% } %>
</div>
<%- include("template/footer") %>

<script>
  const formEditar = document.querySelector('#editar');
    formEditar.addEventListener('submit', async (e) => {
      e.preventDefault()
      const id = formEditar.elements['id'].value
      const nombre = formEditar.elements['nombre'].value
      const poblacion = formEditar.elements['poblacion'].value
      const pais = formEditar.elements['pais'].value
      const continente = formEditar.elements['continente'].value
      const gentilicio = formEditar.elements['gentilicio'].value
      const _id = formEditar.dataset.id
      const data = await fetch(`/${_id}`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({id,nombre,poblacion,pais,continente,gentilicio})
      })
      const res = await data.json()
      if(res.estado){
        window.location.href = '/'
      }else{
        console.log(res)
      }
    })
</script>
